@model List<User>
@{
    ViewData["Title"] = "Users";
}
<a asp-action="Add" class="btn btn-primary">Kullanıcı Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (User user in Model)
        {
            <tr>
                <th>@user.Id</th>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td><a asp-controller="User" asp-action="Add" class="btn btn-primary">Düzenle</a></td>
            </tr>
        }

    </tbody>
</table>